# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcuserdata/
*.moved-aside
*.swp
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
/.build/
/Packages/
/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Trashes
.Spotlight-V100
.fseventsd
.DocumentRevisions-V100

# Xcode previews
Preview Content/
*.preview-thumbnails

# Xcode archives
*.xcarchive
*.ipa

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/metadata
